:root {
  --bg-url-desktop-dark: url(../../assets/Background-dark-desktop.jpg);
  --bg-url-mobile-dark: url(../../assets/Background-dark-mobile.jpg);
  --image-toggle: url(../../assets/moon.svg);
  --surface-color: rgba(255, 255, 255, 0.1);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --text-color: #fff;
  --toggle-handle-color: #fff;
}

.light {
  --bg-url-desktop-dark: url(../../assets/Background-light-desktop.jpg);
  --bg-url-mobile-dark: url(../../assets/Background-light-mobile.jpg);
  --image-toggle: url(../../assets/sun.svg);
  --surface-color: rgba(0, 0, 0, 0.05);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --text-color: #000;
}
